- div_for comment do
  - @user = User.find(comment.user_id)
  %strong.creator
    = h(@user.username)
  %em.date
    on
    = comment.updated_at.strftime('%b %d, %Y at %H:%M')
  .content= h(comment.body)
  %ul.controls
    - if permitted_to? :edit, comment
      %li= link_to "Edit", edit_comment_path(comment)
    - if permitted_to? :destroy, comment
      %li= link_to "Destroy", comment, :method => :delete, :confirm => "Are you sure?"

