<% semantic_form_for @user do |f| %>
  <% f.inputs do %>
    <%= f.input :username %>
    <%= f.input :email %>

    <% if has_role?(:admin)%>
      <%= f.input :groups, :as => :check_boxes %>
    <% end %>

    <% if @user.openid_identifier.blank? %>
      <%= f.input :password%>
      <%= f.input :password_confirmation%>
      <%= f.buttons %>
      <h3> Or use OpenID </h3>
    <% end %>
    <%= f.input :openid_identifier, :label => 'OpenID URL' %>
  <% end %>
 <%= f.buttons %>
<% end %>

