<% title 'Edit User' %>

<%= render :partial => @user %>

<% form_for @user do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :groups %><br />
    <% for group in Group.all %>
      <%= check_box_tag "user[group_ids][]", group.id, @user.groups.include?(group) %>
      <%=h group.name %><br />
    <% end %>
  </p>
  <p><%= f.submit "Submit" %></p>

<% end %>
