#collection.fields
  #collection_fields
    = f.input :content
    = f.input :wdh, :as => :numeric, :input_html => { :size => 5 }

  #children_fields
    %h3
      Schedulings
    - f.semantic_fields_for :schedulings do |schedulings_form|
      = render :partial => "scheduling", :locals =>{ :f => schedulings_form }
    %p
      = add_child_link "Add Scheduling", :schedulings
    = new_child_fields_template(f, :schedulings)