<% semantic_form_for @schedule do |f| %>
  <%= f.inputs :title, :body, :tag_list %>
  <% @schedulings.each_with_index do |scheduling,index| %>
    <% f.semantic_fields_for "schedulings[]",scheduling do |i| %>
      <% i.inputs %>
        <%= i.input :rank, :as => :hidden, :value => index %>
        <%= i.input :wdh, :as => :numeric %>
        <%= i.input :item, :label_method => 'description' %>
    <% end %>
  <% end %>
 <%= f.buttons %>
<% end %>


<!--
<% form_for @schedule do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :body %><br />
    <%= f.text_area :body %>
  </p>
  <p><%= f.submit "Submit" %></p>
<% end %>

-->

