<% title "Schedules" %>

<% for schedule in @schedules do %>
	<% div_for schedule do%>
	  <% @user = User.find(schedule.user_id) %>
		<h2><%=link_to_unless_current h(schedule.title),schedule%></h2>
		<em><%= h(@user.username)%></em>
		<%=simple_format h(schedule.body) %>
	<% end %>
<% end %>

<% if permitted_to? :create, Schedule.new %>
<p><%= link_to "New Schedule", new_schedule_path %></p>
<% end %>

<%= will_paginate @schedules %>

