<% title @schedule.title %>

<div id="schedule">
  <% @user = User.find(@schedule.user_id)%>
    <em class="creator">
      <strong>Author:</strong>
      <%= h(@user.username) %>
    </em><br />
    <em class="tags">
      <strong>Tags:</strong>
      <% for @tag in @tags do %>
        <%= content_tag(:em, (@tag.name).humanize)%>
      <% end %>
    </em>
<p class="body"><%=simple_format h(@schedule.body) %></p>

<ul>
<% for collection in @schedule.collections %>
  <% if collection.wdh != 1 %>
  <li>
    <%= h(collection.wdh) %> *
    <ul>
  <% end %>
  <% for scheduling in collection.schedulings %>
    <li>
    <% if scheduling.wdh != 1 %>
      <%= h(scheduling.wdh) %> *
    <% end %>
    <%= h(scheduling.item.description) %>
    <% if !scheduling.content.blank? %>
      (<%= h(scheduling.content) %>)
    <% end %>
    </li>
  <% end %>
  <% if !collection.content.blank? %>
    (<%= h(collection.content) %>)
  <% end %>
  <% if collection.wdh != 1 %>
      </ul>
  </li>
  <% end %>
<% end %>
</ul>

</div>

<em>
  <% if permitted_to? :edit, @schedule %>
	<%= link_to "Edit", edit_schedule_path(@schedule.id) %> |
  <% end %>
  <% if permitted_to? :destroy, @schedule %>
	<%= link_to "Destroy", @schedule, :confirm => 'Are you sure?', :method => :delete %> |
  <% end %>
	<%= link_to "See All Schedules", schedules_path %>
</em>



<% unless @schedule.comments.empty? %>
  <h2><%= pluralize(@schedule.comments.size, 'comment') %></h2>

  <div id="comments">
  <% @comments = @schedule.comments.paginate(:page => params[:page], :per_page => 5, :order => 'created_at DESC') %>
  <% for comment in @comments %>
    <div class="comment">
      <%= render :partial => comment %>
    </div>
  <% end %>
  <%= will_paginate @comments %>
  </div>
<% end %>


<% if permitted_to? :create, Comment.new %>
<br />
  <% semantic_form_for Comment.new do |f| %>
    <% f.inputs do %>
      <%= f.input :schedule_id, :as => :hidden, :value => @schedule.id %>
      <%= f.input :body, :as => :string, :label => 'Add your Comment', :required => false%>
    <% end %>
    <%= f.buttons%>
  <% end %>
<% end %>

