<% title @schedule.title %>

<% @user = User.find(@schedule.user_id) do %>
<p class="creator"><em>from <%=h @user.username %></em></p>
<% end %>

<% div_for @schedule do%>
	<%=simple_format h(@schedule.body) %>
<% end %>

<p>
  <% if permitted_to? :edit, @schedule %>
	<%= link_to "Edit", edit_schedule_path(@schedule.id) %> |
  <% end %>
  <% if permitted_to? :destroy, @schedule %>
	<%= link_to "Destroy", @schedule, :confirm => 'Are you sure?', :method => :delete %> |
  <% end %>
	<%= link_to "See All Schedules", schedules_path %>
</p>

<% unless @schedule.comments.empty? %>
  <h2><%= pluralize(@schedule.comments.size, 'comment') %></h2>

  <div id="comments">
  <% for comment in @schedule.comments %>
    <div class="comment">
      <%= render :partial => comment %>
    </div>
  <% end %>
  </div>
<% end %>


<% if permitted_to? :create, @comment %>
  <h3>Add your comment:</h3>
  <% remote_form_for [@schedule, Comment.new] do |f| %>
    <%= f.error_messages %>
    <p>
      <%= f.label :body %><br />
      <%= f.text_area :body, :rows => '4' %>
    </p>
    <p><%= f.submit "Add Comment" %></p>
  <% end %>
<% end %>
