- title @schedule.title
#show
  #schedule
    - @user = User.find(@schedule.user_id)
    %em.creator
      %strong
        Author:
      = h(@user.username)
    %br
    %em.tags
      %strong
        Tags:
      - for @tag in @tags do
        = content_tag(:em, (@tag.name).humanize)

    %p.content
      = simple_format h(@schedule.body)

    %ul
      - for collection in @schedule.collections
        - if collection.wdh == 1 && collection.content.blank?
          = render :partial => 'schedules/partials/scheduling_list', :locals => {:collection => collection}
        - else
          %li.collection_item
            - unless collection.wdh == 1
              = h(collection.wdh)
              *
            - unless collection.content.blank?
              (
              = h(collection.content)
              )
            %ul
              = render :partial => 'schedules/partials/scheduling_list', :locals => {:collection => collection}

  %ul.controls
    - if permitted_to? :edit, @schedule
      %li= link_to "Edit", edit_schedule_path(@schedule.id)

    - if permitted_to? :destroy, @schedule
      %li= link_to "Destroy", @schedule, :confirm => 'Are you sure?', :method => :delete

    %li= link_to "See All Schedules", schedules_path

  #comments_area
    - unless @schedule.comments.empty?
      %h2#comments_count= pluralize(@schedule.comments.size, 'comment')
    #comments
      = render :partial => @schedule.comments

      -#
        - @comments = @schedule.comments.paginate(:page => params[:page], :per_page => 5, :order => 'created_at DESC')
        - for comment in @comments
          = render :partial => comment
        = will_paginate @comment
    = render :partial => 'schedules/partials/comments_form'

