- title @schedule.title
#show
  #schedule
    %em.course_flag
      = h(@schedule.course)
      m
  
    - @user = User.find(@schedule.user_id)
    %p.creator
      %strong
        Author:
      = h(@user.username)
    
    %p.date
      %strong
        Date:
      = @schedule.created_at.strftime('%b %d, %Y')
    %p.tags
      %strong
        Tags:
      - for @tag in @tags do
        = content_tag(:em, @tag.name)

    %p.content
      = RedCloth.new(@schedule.body).to_html

    %ul#schedule_list
      - for collection in @schedule.collections
        - if collection.wdh == 1 && collection.content.blank?
          = render :partial => 'schedules/partials/scheduling_list', :locals => {:collection => collection}
        - else
          %li
            .collection_item
              - unless collection.wdh == 1
                = h(collection.wdh)
                *
              - unless collection.content.blank?
                (
                = h(collection.content)
                )
            %ul
              = render :partial => 'schedules/partials/scheduling_list', :locals => {:collection => collection}
      %li.full_distance
        %strong &#8721;
        %em
          = h(@schedule.full_distance)
  %br
  %ul.controls
    - if permitted_to? :edit, @schedule
      %li= link_to "Edit", edit_schedule_path(@schedule.id)

    - if permitted_to? :destroy, @schedule
      %li= link_to "Destroy", @schedule, :confirm => 'Are you sure?', :method => :delete

    %li= link_to "See All Schedules", schedules_path

  #comments_area
    #comments_count
      - unless @schedule.comments.empty?
        %h2= pluralize(@schedule.comments.size, 'comment')
    #comments
      = render :partial => @schedule.comments
    - if permitted_to? :create, Comment.new
      - semantic_form_for Comment.new do |f|
        - f.inputs do
          = f.input :schedule_id, :as => :hidden, :value => @schedule.id
          = f.input :body, :as => :string, :label => 'Add your Comment', :required => false
        - f.buttons do
          = f.commit_button :label => 'Post'
    
  #trainings_shoutbox
    #shout_count
      - unless @schedule.shouts.empty?
        %h2= pluralize(@schedule.shouts.size, 'shout')
    #shouts
      = render :partial => @schedule.shouts
    - if permitted_to? :create, Shout.new
      - semantic_form_for Shout.new do |f|
        - f.inputs do
          = f.input :schedule_id, :as => :hidden, :value => @schedule.id
          = f.input :trained_at, :as => :datepicker, :format => "%d %B %Y"
        - f.buttons do
          = f.commit_button :label => 'Shout my Training'
