- title "Items"
- form_tag items_path, :method => 'get' do
  = text_field_tag :search, params[:search]
  = submit_tag "Search", :title => nil
%br
%table
  %tr
    %th
      Description
  - for item in @items
    %tr
      %td
        = h item.description
      %td
        = link_to "Edit", edit_item_path(item)
      %td
        = link_to "Destroy", item, :confirm => 'Are you sure?', :method => :delete
%p
  = link_to "New Item", new_item_path
= will_paginate @items

